@import url(//fonts.googleapis.com/css2?family=Roboto:wght@300;400;500;700);

html,
body,
html * {
    font-family: "Roboto", sans-serif;
    scroll-behavior: smooth;
}

* {
  box-sizing: border-box;
}
